REDIS_URL=
INKEEP_API_KEY=
OPENROUTER_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
INKEEP_ANALYTICS_ENABLED=true    # Set to 'false' to disable Inkeep analytics logging
SUPABASE_ANALYTICS_ENABLED=true  # Set to 'false' to disable Supabase analytics logging